<<<<<<< Updated upstream
=======

h1 {
  margin: 0; /* Elimina el margen por defecto del h1 */
  padding: 20px; /* A침ade un padding de 20px alrededor del texto */
  color: #def10f; /* Establece el color del texto a un tono amarillo */
  font-size: 50px; /* Define el tama침o de la fuente a 50px */
}
>>>>>>> Stashed changes


.login {
  
background-repeat: no-repeat;
background-size: cover;
  height: 100vh; /* Altura completa de la ventana del navegador */
  
  width: 100vw; /* Ancho completo de la secci칩n */
  
  text-align: center; /* Centra el texto horizontalmente */
  
  display: flex; /* Utiliza flexbox para el dise침o */
  
  flex-direction: column; /* Organiza los elementos en una columna */
 justify-content: center; /* Centra los elementos verticalmente */
  
  align-items: center; /* Centra los elementos horizontalmente */

<<<<<<< Updated upstream
  background-image: url("/images/virus.png"); /* Establece una imagen de fondo */
}

/* From Uiverse.io by AnthonyPreite */ 
#form {
  display: grid;
  place-items: center;
  width: 300px;
  height: 472px;
  padding: 25px;
  background-color: #161616;
  box-shadow: 0px 15px 60px #00FF7F;
  outline: 1px solid #2b9962;
  border-radius: 10px;
}

#form-body {
  position: absolute;
  top: 50%;
  right: 25px;
  left: 25px;
  width: 230px;
  margin: -156px auto 0 auto;
}

#welcome-lines {
  text-align: center;
  line-height: 1;
}

#welcome-line-1 {
  color: #00FF7F;
  font-weight: 600;
  font-size: 40px;
}

#welcome-line-2 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 17px;
}

#input-area {
  margin-top: 40px;
}

.form-inp {
  padding: 11px 25px;
  background: transparent;
  border: 1px solid #e3e3e3;
  line-height: 1;
  border-radius: 8px;
}

.form-inp:focus {
  border: 1px solid #00FF7F;
}

.form-inp:first-child {
  margin-bottom: 15px;
}

.form-inp input {
  width: 100%;
  background: none;
  font-size: 13.4px;
  color: #00FF7F;
  border: none;
  padding: 0;
  margin: 0;
}

.form-inp input:focus {
  outline: none;
}

#submit-button-cvr {
  margin-top: 20px;
}

#submit-button {
  display: block;
  width: 100%;
  color: #00FF7F;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 14px 13px 12px 13px;
  border: 0;
  outline: 1px solid #00FF7F;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out .3s;
}

#submit-button:hover {
  transition: all ease-in-out .3s;
  background-color: #00FF7F;
  color: #161616;
  cursor: pointer;
}

#forgot-pass {
  text-align: center;
  margin-top: 10px;
}

#forgot-pass a {
  color: #868686;
  font-size: 12px;
  text-decoration: none;
}



    
=======
  background-image: url("/images/coronavirus.jpg"); /* Establece una imagen de fondo */
}
>>>>>>> Stashed changes
