.todo{
    background-image: url(/images/pandemic.png);
    background-position:center;
    background-size: cover;
    height: 734px;
    width: 1181px;
    text-align: center; 
    display: flex;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;
}

.entrar{
    margin-top: 700px;
    margin-bottom: 100px;
   
}

button{
    height: 50px;
    width: 150px;
}