<div class="map-container">
  <img src="/images/mapaprueba.png" alt="Mapa del mundo" class="map-image" />

  <div class="linea-container">
    <svg class="linea">
      <ng-container *ngFor="let ciudad of ciudades">
        <ng-container *ngFor="let conexion of ciudad.connections">
          <line
            [attr.x1]="coordenadas[ciudad.name]?.left"
            [attr.y1]="coordenadas[ciudad.name]?.top"
            [attr.x2]="coordenadas[conexion]?.left"
            [attr.y2]="coordenadas[conexion]?.top"
            stroke="violet"
            stroke-width="2"
          />
        </ng-container>
      </ng-container>
    </svg>
  </div>

  <div
    *ngFor="let ciudad of ciudades"
    class="ciudad"
    [style.top.px]="coordenadas[ciudad.name]?.top"
    [style.left.px]="coordenadas[ciudad.name]?.left"
    [attr.data-ciudad]="ciudad.name"
  >
    <div class="punto"></div>
    <span class="nombre">{{ ciudad.name }}</span>
  </div>
</div>
