body {
  background-image: url("/images/coronavirus.jpg"); 
    width: 100%;
    height: 100%;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen */
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    
}
.todo{
    background-image: url(/images/fondoinicio.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center; 
    display: flex;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;
}

  
  .submit-button-cvr {
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.804);
  }
  
  .submit-button {
    display: block;
    width: 100%;
    color: #00FF7F;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid #00FF7F;
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .3s;
  }
  
  .submit-button:hover {
    transition: all ease-in-out .3s;
    background-color: #00FF7F;
    color: #0d0b0bdf;
    cursor: pointer;
  }
  