
<body>
    <div class="todo">
        <div class="botones">
            <div class="submit-button-cvr" ><button class="submit-button" routerLink="/mapa">Nueva Partida</button></div>
            <div class="submit-button-cvr" routerLink="/mapa"><button class="submit-button">Cargar Partida</button></div>
            <div class="submit-button-cvr" routerLink="/menu/informacion"><button class="submit-button">Informacion</button></div>
            <div class="submit-button-cvr"><button class="submit-button">Ranking de Puntuaciones</button></div>
            <div class="submit-button-cvr" routerLink="/menu/autores"><button class="submit-button">Autores</button></div>
            <div class="submit-button-cvr" routerLink="/menu/version"><button class="submit-button">Versiones</button></div>
        </div>
    </div>
    </body>
    