
<body>
    <div class="todo">
        <div class="botones">
            <div class="jugar"><button routerLink="/mapa">Nueva Partida</button></div>
            <div class="reglas" routerLink="/mapa"><button>Cargar Partida</button></div>
            <div class="salir" routerLink="/menu/informacion"><button>Informacion</button></div>
            <div class="salir"><button>Ranking de Puntuaciones</button></div>
            <div class="autores" routerLink="/menu/autores"><button>Autores</button></div>
            <div class="salir" routerLink="/menu/version"><button>Versiones</button></div>
        </div>
    </div>
    </body>
    