
.todo{
    background-image: url(/images/fondoinicio.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center; 
    display: flex;
	align-items: center;
	justify-content: center;
    flex-wrap: wrap;
}

.jugar{
    margin-top: 100px;
    margin-bottom: 100px;
   
}
.reglas{
    margin-bottom: 100px;
}
.autores{
    margin-bottom: 100px;
}
.salir{
    margin-bottom: 100px;
}
button{
    height: 50px;
    width: 150px;
}