
<body>
    <div class="todo">
        <div class="botones">
            <div class="jugar"><button (click)="iniciar()">Nueva Partida</button></div>
            <div class="reglas"><button>Cargar Partida</button></div>
            <div class="salir"><button>Informacion</button></div>
            <div class="salir"><button>Ranking de Puntuaciones</button></div>
            <div class="autores"><button>Autores</button></div>
            <div class="salir"><button>Versiones</button></div>
        </div>
    </div>
    </body>
    