<!--<div class="primero" >
    <div>
        <img src="/images/oreo.png">
    </div>
    <div>

    </div>
    <div>
        <div>Partidas Jugadas</div>
        <div>Partidas Ganadas</div>
        <div>Partidas Perdidas</div>
    </div>
</div>-->
<div class="container">
    <header class="cabecalho">
        <div class="perfil">
            <img class="perfil-foto" src="images/oreo.png">
            <div class="titulo">
                <h1>Sérgio Júnior</h1>
                <h3>Jugador de Pandemic<div>#imersaodev</div></h3>
            <label>Alguna frase que te defina</label>
            <textarea cols="30" rows="2" ></textarea>
            </div>
        </div>
        
    </header>
    <main class="projetos">
        <div>
            <table>
                
                <ng-container>
                  <th>Pratidas Jugadas</th>
                  <tr>**</tr>
                </ng-container>
              
               
                <ng-container>
                  <th>Partidas Ganadas</th>
                  <tr>**</tr>
                </ng-container>
              
                
                <ng-container>
                  <th>Partidas Perdidas</th>
                  <tr>**</tr>
                </ng-container>
              </table>
</div>
