<div class="container">
    <section class="carta">
        <img src="/public/images/fondoperfil1.png" alt="Fondo de la carta" class="fondoCarta" >

        <img src="/images/melisa.png" alt="Foto de perfil" class="fotoPerfil">

        <p>Melisa Guerrero</p>
        <p>Programadora Alegre</p>

        <section class="info">
            <div>Asturias</div>
            <div>Enviar mensaje</div>
        </section>

        <section class="influencia">
            <div>8,000</div>
            <div>Seguidores</div>

            <div>1,000</div>
            <div>Seguidos</div>
        </section>

        <section class="boton">
            <button id="botonSeguir">Seguir</button>
        </section>
    </section>
</div>
<div class="container">
    <section class="carta">
        <img src="/public/images/fondoperfil1.png" alt="Fondo de la carta" class="fondoCarta" >

        <img src="/images/carlos.png" alt="Foto de perfil" class="fotoPerfil">

        <p>Carlos Villacis</p>
        <p>Programador Furioso</p>

        <section class="info">
            <div>Asturias</div>
            <div>Enviar mensaje</div>
        </section>

        <section class="influencia">
            <div>8,000</div>
            <div>Seguidores</div>

            <div>1,000</div>
            <div>Seguidos</div>
        </section>

        <section class="boton">
            <button id="botonSeguir">Seguir</button>
        </section>
    </section>
</div>
