<div>
<div class="texto">
       <h1>¡Bienvenido a Pandemic! 🌍🦠</h1>
       <p>Prepárate para salvar el mundo... ¡literalmente! En Pandemic, tú y tus amigos no solo están jugando un juego, están asumiendo el 
       papel de héroes de una unidad de élite de control de enfermedades. Vuestro objetivo: frenar una pandemia mundial. Cuatro virus 
       diferentes están arrasando en ciudades de todos los continentes, y solo vosotros tenéis las habilidades necesarias para desarrollar 
       las curas, frenar los brotes y, con suerte, evitar el colapso total.</p>
     
       <h3>¿Cómo se Juega?</h3>
       <ol>
         <li> El juego se iniciará con 4 ciudades infectadas.</li>
         <p>Coloca el tablero en el centro, mostrando un mapa del mundo. Cada ciudad tiene un color (azul, amarillo, negro o rojo), representando 
         una de las cuatro enfermedades. A medida que juegues, las ciudades con infección nivel 3 propagan las enfermedades a las ciudades colindantes.</p>
     
         <li> Contén la infección.</li>
         <p>Hay cuatro enfermedades amenazando la paz mundial, y el objetivo es encontrar la cura para cada una. Cada turno, como en la vida real, los 
         virus se propagan. Pero cuidado, porque si en alguna ciudad aparece el nivel 3 de infección... ¡tenemos un brote! Los brotes 
         se esparcen a las ciudades vecinas y acercan a la humanidad al borde del desastre.</p>
       </ol>
     
       <h3>Jugando el Turno</h3>
       <ul>
         <li>Moverse de una ciudad a otra para ver información de ellas.</li>
         <li>Tratar la enfermedad (intenta curar la enfermedad de la ciudad).</li>
         <li>Comenzar la investigación para cualquier nivel de las enfermedades.</li>
       </ul>
     
       <p>¡Estrategia y saber cuándo y dónde estar son esenciales! Después de tus cuatro acciones, roba dos cartas de Ciudad. Pero ojo, 
       algunas de esas cartas no son ciudades… ¡son Epidemias! Las Epidemias aumentan el ritmo de infección, propagan aún más las enfermedades 
       y acercan el mundo al colapso.</p>
     
       <h3>El Fin del Mundo (o de la Partida)</h3>
       <p>Hay varias maneras de ganar, pero también de perder.</p>
       <ul>
         <li>Ganas si logras encontrar las cuatro curas antes de que el mazo se acabe o el tablero esté inundado de brotes.</li>
         <li>Pierdes si ocurre demasiados brotes.</li>
       </ul>
       <p>Así que, prepárate para correr de un lado a otro del tablero, tomar decisiones difíciles y tratar de adelantarte a cada brote antes 
       de que sea demasiado tarde. ¿Tienes el equipo y la estrategia para salvar al mundo? ¡A jugar! 🌍💉💪</p>
     </div>
    </div>