.texto {
 
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
    background: radial-gradient(circle, rgba(251, 208, 63, 1) 0%, rgba(252, 70, 70, 1) 100%);
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 1.6;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  div {
    
    background-image: url("/images/virus.png"); /* Establece una imagen de fondo */
  }
  
  
  h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  }
  
  h3 {
    font-size: 2em;
    margin-top: 20px;
    text-decoration: underline;
    color: #ffeb3b;
  }
  
  p, li {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  ul {
    list-style-type: square;
  }
  
  a {
    color: #ffd700;
    text-decoration: underline;
  }
  
  a:hover {
    color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .texto {
      font-size: 16px;
      padding: 15px;
    }
  
    h1 {
      font-size: 2.5em;
    }
  
    h3 {
      font-size: 1.5em;
    }
  
    p, li {
      font-size: 1em;
    }
  
    ul, ol {
      padding-left: 20px;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 2em;
    }
  
    h3 {
      font-size: 1.2em;
    }
  
    p, li {
      font-size: 0.9em;
    }
  
    .texto {
      padding: 10px;
    }
  }
  